<%- include('partials/header', { root: './views' }) %>

    <%- include('partials/navbar', { root: './views' }) %>
    <h1>All Cats</h1>
    <ul>
        <% for(let cat of cats) { %>
            <li><%= cat %></li>
        <% } %>
    </ul>
    <%- include('partials/footer', { root: './views' }) %>