<%- include('partials/header', { root: './views' }) %>

    <%- include('partials/navbar', { root: './views' }) %>
    <h1>ホーム<%= title %></h1>
    <p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    <p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    <p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    <%- include('partials/footer', { root: './views' }) %>